{% extends '__base.html' %}

{% load hub_extras %}

{% block content %}

<div class="text-center bg-info p-2 my-2 rounded-pill">
    Displaying {{ designs|length }} design{{ designs|length|pluralize }}
    {% if design_type_selected %}
        that match the following selections
        <br>
        {% for selection in design_type_selected %}
            <span class="badge badge-info">{{selection}}</span>
        {% endfor %}
    {% endif %}
</div>

<div class="row p-2 row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5">
    {% for design in designs %}
    <div class="col px-2 mb-2">
        <div class="card text-center">
            <div class="card-header p-2 bg-white border-0">
                <div class="row no-gutters">
                    <div class="col text-truncate">
                        <div class="card-title mb-0 text-trim">
                            <a href="/design/{{design.design_code}}">
                                <strong>{{ design.design_name }}</strong>
                            </a>
                            <br>
                            <small>By <a href="/?creator_code={{design.creator_code}}">{{ design.creator_name }}</a></small>
                            <br>
                            <a href="/?design_type={{design.design_type}}">
                                <span class="badge badge-info">{{ design.get_design_type_display }}</span>
                            </a>
                        </div>
                    </div><!-- /.col -->
                    <div class="col-auto">
                        <a href="/design/{{ design.design_code }}/download" title="download image" class="btn btn-secondary btn-sm ml-2" >
                            <i class="fas fa-download"></i>
                            <span class="sr-only">Download Image</span>
                        </a>
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.card-header -->

            <div class="thumbnail">
                {% if design.number_of_images %}
                    <a href="/design/{{design.design_code}}" class="btn btn-default additional-images" title="click for additional images">
                        <i class="fas fa-2x fa-images"></i>
                    </a>
                {% endif %}
                <a href="/design/{{design.design_code}}">
                    <img class="card-img rounded-0" src="{{ design.original_image.url }}" />
                </a>
            </div><!-- /.thumbnail -->

            <div class="card-body p-2">
                <div style="background:#eee;" class="p-1 rounded">
                    <span class="text-space-out text-reset text-monospace">
                        {{ design.design_code|format_design_code }}
                    </span>
                </div>
            </div><!-- /.card-body -->
        </div><!-- /.card -->
    </div>
    {% endfor %}
</div>

{% endblock %}
