{% extends '__base.html' %}

{% load hub_extras %}

{% block content %}

<div class="text-center bg-info py-2 my-4 rounded-pill">
    Displaying {{ designs|length }} design{{ designs|length|pluralize }} that match the following selections
    <br>
    {% for selection in design_type_selected %}
        <span class="badge badge-info">{{selection}}</span>
    {% endfor %}
</div>

<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5">
    {% for design in designs %}
    <div class="col mb-4">
        <div class="card">
            <div class="card-header bg-white border-0">
                <div class="row no-gutters">
                    <div class="col text-truncate text-center">
                        <div class="card-title mb-0 text-trim">
                            <a href="/design/{{design.design_code}}">
                                <strong>{{ design.design_name }}</strong>
                            </a>
                            <br>
                            <small>By <a href="/?creator_code={{design.creator_code}}">{{ design.creator_name }}</a></small>
                            <br>
                            <a href="/?design_type={{design.design_type}}">
                                <span class="badge badge-info">{{ design.get_design_type_display }}</span>
                            </a>
                        </div>
                    </div><!-- /.col -->
                    <div class="col-auto">
                        <a href="/design/{{ design.design_code }}/download" title="download image" class="btn btn-secondary btn-sm ml-2" >
                            <i class="fas fa-download"></i>
                            <span class="sr-only">Download Image</span>
                        </a>
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.card-header -->

            <div class="thumbnail">
                <a href="/design/{{design.design_code}}">
                    <img class="card-img rounded-0" src="{{ design.original_image.url }}" />
                </a>
            </div><!-- /.thumbnail -->

            <div class="card-body text-center">
                <div style="background:#eee;" class="p-1 rounded">
                    <a class="text-space-out text-reset text-monospace" href="/design/{{design.design_code}}">
                        {{ design.design_code|format_design_code }}
                    </a>
                </div>
            </div><!-- /.card-body -->
        </div><!-- /.card -->
    </div>
    {% endfor %}
</div>

{% endblock %}
