{% extends '__base.html' %}

{% load crispy_forms_tags %}

{% block javascript %}
{{ block.super }}
<script src='https://unpkg.com/tesseract.js@v2.1.0/dist/tesseract.min.js'></script>
{% endblock %}

{% block content %}
  <div style="max-width:60rem;" class="card my-4 mx-auto">
    <div class="card-body">
      <h2 class="card-title">Upload a new design</h2>
      <hr>
      <form id="submission" method="POST" enctype="multipart/form-data">

        {% csrf_token %}

        <div class="well">
          {{ form.original_image|as_crispy_field }}
        <div id="preview" class="my-2 p-2">
          <img src="https://via.placeholder.com/900x500&text=preview" alt="preview image">
        </div><!-- /#preview -->
      </div>

        {{ form.design_name|as_crispy_field }}

        <div class="row">
          <div class="col">
            {{ form.creator_name|as_crispy_field }}
            {{ form.creator_island|as_crispy_field }}
            {{ form.creator_code|as_crispy_field }}
          </div><!-- /.col -->

          <div class="col">
            {{ form.design_type|as_crispy_field }}
            {{ form.design_code|as_crispy_field }}
          </div><!-- /.col -->
        </div><!-- /.row -->

        {{ form.description|as_crispy_field }}

        <input type="submit" value="Submit" class="btn btn-primary">
      </form>
    </div><!-- /.card-body -->
  </div><!-- /.card -->

  <script type="text/javascript">
    (function () {

      $(document).ready(function () {

        $("input#id_original_image").change(function () {
          if (this.files && this.files[0]) {
              var reader = new FileReader();

              reader.onload = function (e) {
                $('div#preview').html(
                  '<img style="max-width: 100%" src="' + e.target.result + '" />'
                )

                Tesseract.recognize(
                    e.target.result,
                    'eng',
                    { logger: m => console.log(m) }
                  ).then(({ data: { text } }) => {
                    var lines = text.split(/\r?\n/).filter(Boolean)

                    var codes = lines.slice(-1)[0].split(/\s+/)
                    var designType = lines.slice(-2)[0].trim()
                    var creator = lines.slice(-3)[0].trim()

                    $('select#id_design_type option').map(function () {
                      var optionText = $(this).text()
                      var optionValue = $(this).val()

                      if (designType.toLowerCase().includes(optionText.toLowerCase())) {
                        $('select#id_design_type').val(optionValue)
                      }
                    })

                    $('input#id_creator').val(creator)
                    $('input#id_design_code').val(codes.pop())
                    $('input#id_creator_code').val(codes.pop())
                  })
              }

              reader.readAsDataURL(this.files[0]);
          }
        });
      })
    })();
  </script>
{% endblock %}
