{% extends '__base.html' %}

{% load crispy_forms_tags %}

{% block javascript %}
{{ block.super }}
<script src='https://unpkg.com/tesseract.js@v2.1.0/dist/tesseract.min.js'></script>
{% endblock %}

{% block content %}
  <div class="card my-2">
    <div class="card-body">
      <h2 class="card-title">Upload a new design</h2>
      <hr>
      <form id="submission" method="POST" enctype="multipart/form-data">


        {% csrf_token %}


        <div class="well">
          {{ form.original_image|as_crispy_field }}
        <div id="preview" class="my-2 p-2">
          <img src="https://via.placeholder.com/900x500&text=preview" alt="preview image">
        </div><!-- /#preview -->
      </div>

        {{ form.design_name|as_crispy_field }}

        <div class="row">
          <div class="col">
            {{ form.creator_name|as_crispy_field }}
            {{ form.creator_island|as_crispy_field }}
            {{ form.creator_code|as_crispy_field }}
          </div><!-- /.col -->

          <div class="col">
            {{ form.design_type|as_crispy_field }}
            {{ form.design_code|as_crispy_field }}
          </div><!-- /.col -->
        </div><!-- /.row -->

        {{ form.description|as_crispy_field }}

        <input type="submit" value="Submit" class="btn btn-primary">
      </form>
    </div><!-- /.card-body -->
  </div><!-- /.card -->

  <script type="text/javascript">
    (function () {

      $(document).ready(function () {

        $("input#id_original_image").change(function () {
          if (this.files && this.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
              const preview = $('div#preview');
              preview.empty();

              const img = new Image();
              img.src = e.target.result;
              img.onload = function() {
                const width = this.width;
                const height = this.height;

                const worker = Tesseract.createWorker({ logger: console.log });

                (async function () {
                  await worker.load();
                  await worker.loadLanguage('eng');
                  await worker.initialize('eng');

                  function extractText(left, top, width, height) {
                    const { data: { text } } = await worker.recognize(e.target.result, {
                      rectangle: { left, top, width, height },
                    });
                    return text;
                  }

                  $('input#id_design_name').val(extractText(
                    /* 488 / 1280 */ 0.38125 * width,
                    /* 112 /  720 */ 0.15556 * height,
                    /* 305 / 1280 */ 0.23828 * width,
                    /*  74 /  720 */ 0.10278 * height
                  ));

                  $('input#id_creator_name').val(extractText(
                    /*  69 / 1280 */ 0.05391 * width,
                    /* 466 /  720 */ 0.64722 * height,
                    /* 276 / 1280 */ 0.21563 * width,
                    /*  47 /  720 */ 0.06528 * height
                  ));

                  $('input#id_creator_island').val(extractText(
                    /* 119 / 1280 */ 0.09297 * width,
                    /* 513 /  720 */ 0.71250 * height,
                    /* 214 / 1280 */ 0.16719 * width,
                    /*  42 /  720 */ 0.05833 * height
                  ));

                  $('input#id_creator_code').val(extractText(
                    /*  69 / 1280 */ 0.05391 * width,
                    /* 557 /  720 */ 0.77361 * height,
                    /* 276 / 1280 */ 0.21563 * width,
                    /*  30 /  720 */ 0.04167 * height
                  ));

                  const designType = extractText(
                    /* 924 / 1280 */ 0.72188 * width,
                    /* 518 /  720 */ 0.71944 * height,
                    /* 300 / 1280 */ 0.23438 * width,
                    /*  35 /  720 */ 0.04861 * height
                  );
                  $('select#id_design_type option').map(function () {
                    const optionText = $(this).text();
                    const optionValue = $(this).val();

                    if (designType.toLowerCase().includes(optionText.toLowerCase())) {
                      $(this).prop('selected', true);
                    }
                  });

                  $('input#id_design_code').val(extractText(
                    /* 924 / 1280 */ 0.72188 * width,
                    /* 557 /  720 */ 0.77361 * height,
                    /* 300 / 1280 */ 0.23438 * width,
                    /*  30 /  720 */ 0.04167 * height
                  ));

                  await worker.terminate();
                })();
              };
            }

            reader.readAsDataURL(this.files[0]);
          }
        });
      })
    })();
  </script>
{% endblock %}
