{% extends '__base.html' %}

{% load crispy_forms_tags %}

{% block javascript %}
{{ block.super }}
<script src='https://unpkg.com/tesseract.js@v2.1.0/dist/tesseract.min.js'></script>
{% endblock %}

{% block content %}
  <div style="max-width:60rem;" class="card my-4 mx-auto">
    <div class="card-body">
      <h2 class="card-title">Upload a new design</h2>
      <hr>
      <form id="submission" method="POST" enctype="multipart/form-data">


        {% csrf_token %}


        <div class="well">
          {{ form.original_image|as_crispy_field }}
        <div id="preview" class="my-2 p-2">
          <img src="https://via.placeholder.com/900x500&text=preview" alt="preview image">
        </div><!-- /#preview -->
      </div>

        {{ form.design_name|as_crispy_field }}

        <div class="row">
          <div class="col">
            {{ form.creator_name|as_crispy_field }}
            {{ form.creator_island|as_crispy_field }}
            {{ form.creator_code|as_crispy_field }}
          </div><!-- /.col -->

          <div class="col">
            {{ form.design_type|as_crispy_field }}
            {{ form.design_code|as_crispy_field }}
          </div><!-- /.col -->
        </div><!-- /.row -->

        {{ form.description|as_crispy_field }}

        <input type="submit" value="Submit" class="btn btn-primary">
      </form>
    </div><!-- /.card-body -->
  </div><!-- /.card -->

  <script type="text/javascript">
    (function () {

      $(document).ready(function () {

        $("input#id_original_image").change(function () {
          if (this.files && this.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
              const preview = $('div#preview');
              preview.empty();

              const img = new Image();
              img.src = e.target.result;
              img.onload = function() {
                const width = this.width;
                const height = this.height;

                img.style.maxWidth = "100%";
                preview.append(img);

                const worker = Tesseract.createWorker({ logger: console.log });

                (async function () {
                  await worker.load();
                  await worker.loadLanguage('eng');
                  await worker.initialize('eng');

                  async function extractText(left, top, width, height) {
                    const { data } = await worker.recognize(e.target.result, {
                      rectangle: { left, top, width, height },
                    });

                    // var confidenceThreshold = 50;
                    // var confidentText = [];
                    // for (var word in data.words) {
                    //   if (data.words[word].confidence > confidenceThreshold) {
                    //     console.log('word');
                    //     console.log(data.words[word]);
                    //     confidentText.push(data.words[word].text);
                    //   }
                    // }

                    // return confidentText.join(' ');

                    return data.text;
                  }

                  const IMG_WIDTH = 1280;
                  const IMG_HEIGHT = 720;

                  const DESIGN_NAME_LEFT = 488 / IMG_WIDTH;
                  const DESIGN_NAME_TOP = 112 / IMG_HEIGHT;
                  const DESIGN_NAME_WIDTH = 305 / IMG_WIDTH;
                  const DESIGN_NAME_HEIGHT = 74 / IMG_HEIGHT;

                  $('input#id_design_name').val(await extractText(
                    DESIGN_NAME_LEFT * width,
                    DESIGN_NAME_TOP * height,
                    DESIGN_NAME_WIDTH * width,
                    DESIGN_NAME_HEIGHT * height
                  ));

                  const CREATOR_NAME_LEFT = 69 / IMG_WIDTH;
                  const CREATOR_NAME_TOP = 466 / IMG_HEIGHT;
                  const CREATOR_NAME_WIDTH = 276 / IMG_WIDTH;
                  const CREATOR_NAME_HEIGHT = 47 / IMG_HEIGHT;

                  $('input#id_creator_name').val(await extractText(
                    CREATOR_NAME_LEFT * width,
                    CREATOR_NAME_TOP * height,
                    CREATOR_NAME_WIDTH * width,
                    CREATOR_NAME_HEIGHT * height
                  ));

                  const CREATOR_ISLAND_LEFT = 119 / IMG_WIDTH;
                  const CREATOR_ISLAND_TOP = 513 / IMG_HEIGHT;
                  const CREATOR_ISLAND_WIDTH = 214 / IMG_WIDTH;
                  const CREATOR_ISLAND_HEIGHT = 42 / IMG_HEIGHT;

                  $('input#id_creator_island').val(await extractText(
                    CREATOR_ISLAND_LEFT * width,
                    CREATOR_ISLAND_TOP * height,
                    CREATOR_ISLAND_WIDTH * width,
                    CREATOR_ISLAND_HEIGHT * height
                  ));

                  const CREATOR_CODE_LEFT = 69 / IMG_WIDTH;
                  const CREATOR_CODE_TOP = 557 / IMG_HEIGHT;
                  const CREATOR_CODE_WIDTH = 276 / IMG_WIDTH;
                  const CREATOR_CODE_HEIGHT = 30 / IMG_HEIGHT;

                  $('input#id_creator_code').val(await extractText(
                    CREATOR_CODE_LEFT * width,
                    CREATOR_CODE_TOP * height,
                    CREATOR_CODE_WIDTH * width,
                    CREATOR_CODE_HEIGHT * height
                  ));

                  const DESIGN_TYPE_LEFT = 924 / IMG_WIDTH;
                  const DESIGN_TYPE_TOP = 518 / IMG_HEIGHT;
                  const DESIGN_TYPE_WIDTH = 300 / IMG_WIDTH;
                  const DESIGN_TYPE_HEIGHT = 35 / IMG_HEIGHT;

                  const designType = await extractText(
                    DESIGN_TYPE_LEFT * width,
                    DESIGN_TYPE_TOP * height,
                    DESIGN_TYPE_WIDTH * width,
                    DESIGN_TYPE_HEIGHT * height
                  );

                  console.log(designType);

                  $('select#id_design_type option').map(function () {
                    const optionText = $(this).text();
                    const optionValue = $(this).val();

                    if (designType.toLowerCase().includes(optionText.toLowerCase())) {
                      $(this).prop('selected', true);
                    }
                  });

                  const DESIGN_CODE_LEFT = 924 / IMG_WIDTH;
                  const DESIGN_CODE_TOP = 557 / IMG_HEIGHT;
                  const DESIGN_CODE_WIDTH = 300 / IMG_WIDTH;
                  const DESIGN_CODE_HEIGHT = 30 / IMG_HEIGHT;

                  $('input#id_design_code').val(await extractText(
                    DESIGN_CODE_LEFT * width,
                    DESIGN_CODE_TOP * height,
                    DESIGN_CODE_WIDTH * width,
                    DESIGN_CODE_HEIGHT * height
                  ));

                  await worker.terminate();
                })();
              };
            }

            reader.readAsDataURL(this.files[0]);
          }
        });
      })
    })();
  </script>
{% endblock %}
