{% load i18n static %}
<!DOCTYPE html>

<html>
  <head>
    {% block meta_tags %}{% endblock %}
    <title>
      {% block title %}{% trans "AC Design Hub" %}{% endblock %}
    </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/c400ee9e0f.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    {% block stylesheets %}
    {% endblock %}
    {% block javascript %}
    {% endblock %}
    {% block extra_head %}{% endblock %}
  </head>
  <body>
    <header class="header mb-auto py-3">
      <nav class="navbar">
        <a class="navbar-brand text-reset" href="/"><i class="fas fa-palette mr-1"></i>AC Design Hub</a>
        <form class="form-inline">
          <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
          <button class="btn btn-primary my-2 my-sm-0" type="submit"><i class="fas fa-search"></i><span class="sr-only">Search</span></button>
        </form>
        <a href="/new" class="btn btn-primary"><i class="fas fa-plus mr-1"></i>Add Design</a>
      </div>
      </div>
    </header>

    <div id="main" role="main" class="container-fluid">
      {% block content %}
      {% endblock %}
    </div>

    <footer class="footer mt-auto py-3">
      <div class="container">
        <a href="https://discord.gg/nCa5Bwj" class="text-reset mr-1"><i class="fab fa-discord"></i><span class="sr-only">Discord</span></a>
        <a href="https://github.com/ssteigen/acdesignhub" class="text-reset"><i class="fab fa-github"></i><span class="sr-only">Github</span></a>
        <p class="text-center"><small>AC Design Hub is a fan-made website and is in no way affiliated with Nintendo.</small></p>
      </div>
    </footer>
  </body>
</html>
