/* $isabelle-yellow: #fff2bb; */
/* $nook-green: #cff9db; */
/* $kk-blue: #bddef8; */
/* $able-red: #ffd9d1; */
/* $brown: #b8844d; */
/* $green: #59bca8; */
/* $teal: #075663; */
/* $tan: #f9f6e5; */
/* $pink: #f8a9af */
/* $light-tan: #f1edd4 */
/* $dark-tan: #f1e7cc */

body {
    background-color: rgb(222, 242, 217);
    background-image: radial-gradient(#fff 20%, transparent 0), radial-gradient(#fff 20%, transparent 0);
    background-size: 30px 30px;
    background-position: 0 0, 15px 15px;
}

#preview {
    border: 4px dashed #666;
    border-radius: 12px;
    background: #eee;
}

#preview img {
    width: 100%;
}

#id_description {
    height: 6rem;
}

.text-space-out {
    letter-spacing: 3px;
}

.thumbnail {
    position: relative;
    width: 100%;
    max-width: 330px;
    height: 200px;
    overflow: hidden;
    margin: 0 auto;
}

.thumbnail img {
    position: absolute;
    height: 210%;
    width: auto;
    -webkit-transform: translate(-50%,-28%);
        -ms-transform: translate(-50%,-28%);
            transform: translate(-50%,-28%);
}

.thumbnail:hover img {
    height: 400%;
    -webkit-transform: translate(-84%,-44%);
        -ms-transform: translate(-84%,-44%);
            transform: translate(-84%,-44%);
}

.bg-info {
    background-color: #f1edd4 !important;
    border: 6px solid #f1e7cc;
}

.bg-primary {
    background-color: #075663 !important;
}

.bg-secondary {
    background-color: #59bca8 !important;
}

.btn.btn-primary {
    background: #075663;
    border-color: #075663;
}

.btn.btn-secondary {
    background: #59bca8;
    border-color: #59bca8;
}

.btn.btn-default {
    background: #f9f6e5;
}

header {
    background: #59bca8;
    color: white;
}

footer {
    background: #59bca8;
    color: white;
}
